<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">
        <img src="/media/logo_progettoiseo.png" alt="Logo Progettoiseo" width="64" height="64" />
    </a>
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/articoli">Articoli</a></li>
            <li class="nav-item"><a class="nav-link" href="/eventi">Eventi</a></li>
            <div class="nav-item dropdown">
                <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >
                Chi siamo
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/home/storia">Storia</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="/home/direttivo">Direttivo</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="/home/contatti">Contatti</a></li>
                </ul>
            </div>
        </ul>
    </div>
    <div class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
        <span class="navbar-text me-3">Ciao, {{ user.first_name|default:user.username }}!</span>
        <div class="nav-item dropdown">
            <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
            >
                <img
                    src="{% if user.profile.immagine_profilo %}{{ user.profile.immagine_profilo.url }}{% else %}/media/accounts/foto_profilo_base.png{% endif %}"
                    alt="Foto profilo"
                    class="rounded-circle"
                    width="32"
                    height="32"
                    onerror="this.src='/media/accounts/foto_profilo_base.png';"
                />
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'profilo' %}">Gestisci Profilo</a></li>
                {% if perms.accounts.add_profiloutente %}
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                        <a href="{% url 'registrazione' %}" class="dropdown-item">
                            <i class="fas fa-user-plus"></i> Registra nuovo utente
                        </a>
                    </li>
                {% endif %}
                {% if user.is_superuser %}
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                        <a href="{% url 'admin:index' %}" class="dropdown-item">
                            <i class="fas fa-cog"></i> Pagina di amministrazione
                        </a>
                    </li>
                {% endif %}
                <li><hr class="dropdown-divider" /></li>
                <li>
                    <a href="{% url 'logout' %}" class="dropdown-item">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </li>
            </ul>
        </div>
        {% else %}
        <a class="nav-link btn btn-outline-primary" href="/login">Login</a>
        {% endif %}
    </div>
</nav>
