{% extends "layouts/base.html" %} {% block title %} progettoiseo-contatti {% endblock %}
{% block content %}
<h1 class="text-center">Contatti e social</h1>
<div class="container"> 
    <div class="row">
        <div class="col-md-6">
            <h2>Contatti</h2>
            <p>Indirizzo: Via Roma, 1 - 00100 Roma</p>
            <p>Email: info@progettoiseo.com</p>
            <p>Telefono: +39 06 12345678</p>
        </div>
        <div class="col-md-6">
            <h2>Social</h2>
            <a href="https://www.facebook.com/progettoiseo" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/progettoiseo" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.twitter.com/progettoiseo" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
</div>
{% endblock %}